.app_state {
 width: 1654px;
 height: 1644px;
 color: #EEE;
}


.mobile_header {
  width: 320px;
  height: 56px;

}

.mobile_saved_news_logged_In{
  width: 320px;
  height: 568px;
  color: #fff;
}

.mobile_

.mobile_main-guest {
  width: 320px;
  height: 568px;
  color: #fff;
}

.mobile_cards-section {
  width: 320px;
  height: 2276px;
  top: 302px;
}




